article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
body,button,input,select,textarea{font-family:sans-serif;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin-left:0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
ul,ol{padding:0;}
dd{margin:0;}
.sidebar ul,.sidebar ol,.commentlist{list-style:none;}
p{-webkit-hyphens:auto;-moz-hyphens:auto;-epub-hyphens:auto;hyphens:auto;}
b,strong,.strong{font-weight:bold;}
dfn,em,.em{font-style:italic;}
small,.small{font-size:75%;}
@font-face{font-family:'HelveticaRoundedLTStd-BdCn';src:url('../fonts/helveticaroundedltstd-bdcn.eot');src:url('../fonts/helveticaroundedltstd-bdcn.eot?#iefix') format('embedded-opentype'),url('../fonts/helveticaroundedltstd-bdcn.woff') format('woff'),url('../fonts/helveticaroundedltstd-bdcn.ttf') format('truetype'),url('../fonts/helveticaroundedltstd-bdcn.svg#helveticaroundedltstd-bdcn') format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'Abel';src:url('../fonts/abel-regular.eot');src:url('../fonts/abel-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/abel-regular.woff') format('woff'),url('../fonts/abel-regular.ttf') format('truetype'),url('../fonts/abel-regular.svg#abel-regular') format('svg');font-weight:normal;font-style:normal;}.image-replacement{text-indent:-9999px;overflow:hidden;display:block;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.button,.button:visited{border:1px solid #9cd5ef;border-top-color:#b6e0f3;border-left-color:#b6e0f3;padding:4px 12px;color:#ffffff;display:inline-block;font-size:11px;font-weight:bold;text-decoration:none;text-shadow:0 1px rgba(0, 0, 0, 0.75);cursor:pointer;margin-bottom:20px;line-height:21px;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;transition:all 0.2s ease-out;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;background-color:#bfe4f4;background-image:-webkit-gradient(linear, left top, left bottom, from(#d5edf8), to(#bfe4f4));background-image:-webkit-linear-gradient(top, #d5edf8, #bfe4f4);background-image:-moz-linear-gradient(top, #d5edf8, #bfe4f4);background-image:-o-linear-gradient(top, #d5edf8, #bfe4f4);background-image:-ms-linear-gradient(top, #d5edf8, #bfe4f4);background-image:linear-gradient(top, #d5edf8, #bfe4f4);}.button:hover,.button:visited:hover,.button:focus,.button:visited:focus{color:#ffffff;border:1px solid #9cd5ef;border-top-color:#7ec8e9;border-left-color:#7ec8e9;background-color:#a9daf1;background-image:-webkit-gradient(linear, left top, left bottom, from(#bfe4f4), to(#a9daf1));background-image:-webkit-linear-gradient(top, #bfe4f4, #a9daf1);background-image:-moz-linear-gradient(top, #bfe4f4, #a9daf1);background-image:-o-linear-gradient(top, #bfe4f4, #a9daf1);background-image:-ms-linear-gradient(top, #bfe4f4, #a9daf1);background-image:linear-gradient(top, #bfe4f4, #a9daf1);}
.button:active,.button:visited:active{background-color:#d5edf8;background-image:-webkit-gradient(linear, left top, left bottom, from(#bfe4f4), to(#d5edf8));background-image:-webkit-linear-gradient(top, #bfe4f4, #d5edf8);background-image:-moz-linear-gradient(top, #bfe4f4, #d5edf8);background-image:-o-linear-gradient(top, #bfe4f4, #d5edf8);background-image:-ms-linear-gradient(top, #bfe4f4, #d5edf8);background-image:linear-gradient(top, #bfe4f4, #d5edf8);}
.btn{background-repeat:no-repeat;background-position:top;}.btn:hover{background-position:bottom;}
.sans-serif{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.serif{font-family:"Georgia",Cambria,Times New Roman,Times,serif;}
.abel{font-family:"Abel",Helvetica,Arial,sans-serif;}
.fb_font{font-family:"HelveticaRoundedLTStd-BdCn",Helvetica,Arial,sans-serif;}
span.amp{font-family:Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif;font-style:italic;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.help,.info,.success{margin:10px;padding:5px 18px;border:1px solid;}
.help{border-color:#e8dc59;background:#ebe16f;}
.info{border-color:#bfe4f4;background:#d5edf8;}
.error{border-color:#e83d44 !important;background:#eb545a !important;border-radius:4px;color:#eee !important;}
.success{border-color:#deeaae;background:#e6efc2;}
body{background-image:url(../images/bg-base.jpg);background-repeat:repeat;font-family:Arial, serif;font-size:14px;line-height:1.5;color:#000000;min-width:810px;width:100%;border-top:solid 12px #eb2a3e;overflow:hidden;}
html{overflow:hidden;}
.wrap{width:100%;margin:0 auto;}
a,a:visited{color:#f01d4f;}a:hover,a:visited:hover,a:focus,a:visited:focus{color:#f05e81;}
a:link,a:visited:link{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{font-family:sans-serif;font-weight:500;}h1 a,.h1 a,h2 a,.h2 a,h3 a,.h3 a,h4 a,.h4 a,h5 a,.h5 a{text-decoration:none;}
h1,.h1{font-size:2.5em;line-height:1.333em;}
h2,.h2{font-size:1.75em;line-height:1.4em;margin-bottom:0.375em;}
h3,.h3{font-size:1.125em;}
h4,.h4{font-size:1.1em;font-weight:700;}
h5,.h5{font-size:0.846em;line-height:2.09em;text-transform:uppercase;letter-spacing:2px;}
.menu{margin:1.1em 0;}.menu ul{}.menu ul li{}.menu ul li a{display:block;text-decoration:none;padding:10px 10px;background-color:#eee;border-bottom:1px solid #ccc;}
.menu ul li ul.sub-menu li a,.menu ul li ul.children li a{padding-left:30px;}
#backend .container{width:950px;}
.container{width:750px;margin:0 auto;}
#content{margin-top:2.2em;}
#logoVideo{margin-top:30px;}#logoVideo .cutir{width:230px;float:left;}#logoVideo .cutir img{display:block;margin:auto;}
#logoVideo .cutir .msf-logo{width:155px;}
#logoVideo .cutir .msf-curtir{margin-top:6px;width:190px;}
#logoVideo .mainVideo{background:url('../images/bg-video.png');width:509px;height:352px;float:right;}#logoVideo .mainVideo iframe{margin:7px 0 0 17px;}
#network{margin-top:30px;}#network .rede{float:left;}
#network .underMainVideo{float:left;margin-top:57px;margin-left:13px;}#network .underMainVideo .auth{background:url('../images/network-sueCurtir.png') no-repeat;min-width:241px;padding-top:115px;float:left;width:260px;border-right:solid 3px #a0a0a0;}#network .underMainVideo .auth .connectFacebook{display:inline-block;width:183px;height:31px;background-image:url('../images/ui-button-facebook.png');}
#network .underMainVideo .curtirCount{float:left;width:200px;margin-left:20px;background-image:url('../images/curtirCount.png');background-position:0 65px;background-repeat:no-repeat;}#network .underMainVideo .curtirCount .count{margin-top:-7px;font-family:'HelveticaRoundedLTStd-BdCn';font-size:60px;color:#19315f;letter-spacing:-4px;text-align:right;line-height:1em;margin-bottom:75px;}
#network .underMainVideo .curtirCount .curtir{width:80px;height:32px;margin-top:7px;background-image:url('../images/ui-button-curtir.png');}
#videos{margin-top:30px;}#videos .title{width:100%;height:81px;background-image:url('../images/layout-quemCurte.png');background-repeat:no-repeat;}
#videos .presentedVideos{width:100%;height:200px;margin-top:10px;}#videos .presentedVideos #currentVideo{float:left;}
#videos .presentedVideos .videoThumbnails{float:left;width:360px;margin-left:10px;}#videos .presentedVideos .videoThumbnails ul{display:block;margin:0;}
#videos .presentedVideos .videoThumbnails li{list-style:none;float:left;margin:0 0 10px 5px;position:relative;}#videos .presentedVideos .videoThumbnails li .icon-play{position:absolute;background-image:url('../images/icon-play.png');background-repeat:none;display:block;width:37px;height:26px;top:62px;left:8px;}
#videos .presentedVideos .videoThumbnails li.cur{display:none;}
#callToAction{margin-top:30px;}#callToAction .espalhe{border-right:dotted 3px #365a9e;width:371px;height:230px;float:left;text-align:center;}
#callToAction .volunteer{float:left;text-align:center;width:371px;height:230px;}
#callToAction a{display:inline-block;}#callToAction a>img{display:block;}
#fanpage{font-family:"Abel",Helvetica,Arial,sans-serif;text-align:center;font-size:24px;letter-spacing:-1px;}#fanpage p{line-height:1em;margin:0.5em 0;}
#poderDoSueCurtirLG{width:295px;margin:30px auto 0;display:block;}
hr{margin:0;border:none;border-top:solid 2px #3372b6;margin-bottom:.4em;}hr.por{display:inline-block;margin:0;border:none;border-top:solid 2px #3372b6;margin-bottom:.7em;}hr.por.part{width:265px;}
hr.bot{width:608px;margin:auto;border-width:3px;}
.userTitle{margin-top:30px;}.userTitle span.intro{width:100%;display:inline-block;}.userTitle span.intro span.subtitle{font-size:30px;padding:0 .5em;}
.userTitle .userName{font-size:78px;line-height:.9em;margin:0;padding:0 0 20px;display:inline-block;color:#000;}
.friendCount{font-size:70px;color:#bd0000;}
.curtirRibbon{width:100%;background:url('../images/layout-ribbon.png') center top no-repeat;}.curtirRibbon .improvedfriendCount{font-size:70px;color:#ffffff;margin:-11px 0 0;display:inline-block;}
.mac .curtirRibbon .improvedfriendCount{padding-top:10px;}
#connections{width:100%;min-height:907px;background:url('../images/layout-connections.png') 45px top no-repeat;position:relative;}#connections #friend0{position:absolute;top:210px;left:84px;max-width:125px;max-height:160px;overflow:hidden;}
#connections #friend1{position:absolute;top:293px;left:328px;max-width:125px;max-height:160px;overflow:hidden;}
#connections #friend2{position:absolute;top:177px;left:548px;max-width:95px;max-height:140px;overflow:hidden;}
#connections span.name{display:block;margin-top:10px;font-size:16px;color:#fefefe;}
#map{width:592px;display:block;margin:30px auto 0;}
.userPhotoFrame{float:left;position:relative;}
#userPhoto{border:16px solid #ffffff;border-radius:16px;}
.icon-msf{position:absolute;bottom:10px;right:10px;}
.formWrapper{float:left;margin-left:30px;width:460px;text-align:left;font-family:"Abel",Helvetica,Arial,sans-serif;}.formWrapper h2{font-family:"Abel",Helvetica,Arial,sans-serif;font-size:25px;margin:0;}
#callToAction{overflow:hidden;}#callToAction .volunteer{cursor:pointer;}#callToAction .volunteer .inscreva-se{font:11px Tahoma,'Geneva',sans-serif;width:225px;margin:0 45px;height:200px;padding:30px;text-align:left;}#callToAction .volunteer .inscreva-se #lblUf{display:none;}
#callToAction .inscreva-se{font:11px Tahoma,'Geneva',sans-serif;width:225px;float:left;margin-left:10px;}#callToAction .inscreva-se h2{letter-spacing:-1px;color:#474747;font-size:28px;float:left;margin:0;padding:0;padding-top:2px;padding-bottom:3px;text-transform:uppercase;}
#callToAction .inscreva-se #Newsletter_uf{width:53px;opacity:0;height:23px;filter:alpha(opacity = 0);margin-left:-10px;}
#callToAction .inscreva-se span.campo{float:left;display:block;margin-bottom:3px;}
#callToAction .inscreva-se span.gg{background:url('../images/bg-input-gg-news.png') no-repeat;width:225px;height:23px;}
#callToAction .inscreva-se .bgselect{background-image:url("../images/sprite.png");background-repeat:no-repeat;background-position:-483px -130px;height:26px !important;line-height:26px;}
#callToAction .inscreva-se .bgselecft{background-image:url("../images/sprite.png");background-repeat:no-repeat;background-position:-483px -130px;height:26px !important;line-height:26px;}
#callToAction .inscreva-se .bgselectright{background-image:url("../images/sprite.png");background-repeat:no-repeat;background-position:right 0;height:26px;line-height:26px;display:block;float:left;width:217px;margin-left:10px;}
#callToAction .inscreva-se input{background:transparent;font:11px Tahoma,"Geneva",sans-serif;color:#777;padding:5px;width:96%;border:none;}
#callToAction .inscreva-se #lblUf,#callToAction .inscreva-se #lblCidade{color:#666666;text-shadow:0 1px 0 #FFFFFF;display:inline-block;width:218px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;position:absolute;}
#callToAction .inscreva-se #lblUf{position:absolute;margin-left:-7px;width:30px;text-align:center;margin-top:2px;line-height:1.9em;}
#callToAction .inscreva-se table{border-collapse:collapse;border-spacing:0;}
#callToAction .inscreva-se #rbtDoou tr td{width:58px !important;}
#callToAction .inscreva-se input#Newsletter_jahFezDoacoes01,#callToAction .inscreva-se input#Newsletter_jahFezDoacoes02{float:left;width:20px;}
#callToAction .inscreva-se input#btnGravarUsuario{background-image:url("../images/ui-button-enviar.png");background-position:top;width:95px;height:34px;float:right;padding:0px;border-width:0px;}#callToAction .inscreva-se input#btnGravarUsuario:hovver{background-position:bottom;}
#callToAction .buttons{float:left;}
#callToAction .compartilhe{float:left;background-image:url("../images/ui-button-poderCurtir-you.png");height:110px;width:110px;}#callToAction .compartilhe.other{background-image:url("../images/ui-button-poderCurtir-other.png");}
#callToAction .discover{float:left;background-image:url("../images/ui-button-convideAmigos-you.png");height:110px;width:110px;}#callToAction .discover.other{background-image:url("../images/ui-button-convideAmigos-other.png");}
.msf-logo-espalhe{margin:30px auto 0;width:594px;display:block;}
.espalheIntro{width:100%;}.espalheIntro p{text-align:center;font-size:21px;color:#365a9e;font-family:"Abel",Helvetica,Arial,sans-serif;}
#boards{width:775px;margin-left:-12px;}
.board{float:left;width:387px;height:198px;}.board a,.board img{display:block;}
.board hr{width:100%;border:none;border-top:dotted 2px #6883b6;margin:1em 0;display:inline-block;}
.board.share{padding:10px;width:367px;height:178px;}.board.share img{float:left;}
.page-navigation,.wp-prev-next{margin:1.1em 0 2.2em;}
.bones_page_navi{}.bones_page_navi li{float:left;margin-left:10px;}.bones_page_navi li a{padding:3px 6px;display:block;text-decoration:none;position:relative;}.bones_page_navi li a:hover,.bones_page_navi li a:focus{color:#f01d4f;text-decoration:underline;}
.bones_page_navi li.bpn-current{padding:3px 6px;border-bottom:2px solid #f01d4f;position:relative;}.bones_page_navi li.bpn-current a{}
.bones_page_navi li.bpn-prev-link,.bones_page_navi li.bpn-next-link{font-weight:700;}.bones_page_navi li.bpn-prev-link a,.bones_page_navi li.bpn-next-link a{padding:0;}
.bones_page_navi li.bpn-prev-link a:hover,.bones_page_navi li.bpn-next-link a:hover,.bones_page_navi li.bpn-first-page-link a:hover,.bones_page_navi li.bpn-last-page-link a:hover{background:none;}
.wp-prev-next .prev-link{float:left;}
.wp-prev-next .next-link{float:right;}
#comments{}
.commentlist{}.commentlist li{position:relative;clear:both;overflow:hidden;list-style-type:none;margin-bottom:1.5em;padding:0.7335em 10px;}.commentlist li:last-child{margin-bottom:0;}
.commentlist li ul.children{margin:0;}
.commentlist li[class*=depth-]{margin-top:1.1em;}
.commentlist li.depth-1{margin-left:0;margin-top:0;}
.commentlist li:not(.depth-1){margin-right:-10px;margin-left:-10px;margin-top:0;padding-bottom:0;}
.commentlist .odd{background:#eee;}
.commentlist .even{background:#fefefe;}
.commentlist .vcard{margin-left:50px;}.commentlist .vcard cite.fn{font-weight:700;font-style:normal;}
.commentlist .vcard time{float:right;}.commentlist .vcard time a{color:#999;text-decoration:none;}.commentlist .vcard time a:hover{text-decoration:underline;}
.commentlist .vcard img.avatar{position:absolute;left:10px;padding:2px;border:1px solid #cecece;background:#fff;}
.commentlist .comment_content{margin-left:50px;}.commentlist .comment_content p{margin:0.7335em 0 1.5em;font-size:1em;line-height:1.5em;}
.commentlist .comment-reply-link{text-decoration:none;float:right;background:#4598bb;padding:3px 5px;color:#fff;opacity:0.65;margin-bottom:10px;font-weight:700;font-size:0.9em;}.commentlist .comment-reply-link:hover,.commentlist .comment-reply-link:focus{opacity:1;}
.respond-form{margin:1.5em 10px;padding-bottom:2.2em;}.respond-form form{margin:0.75em 0;}.respond-form form li{list-style-type:none;clear:both;margin-bottom:0.7335em;}.respond-form form li label,.respond-form form li small{display:none;}
.respond-form form input[type=text],.respond-form form input[type=email],.respond-form form input[type=url],.respond-form form textarea{padding:3px 6px;background:#efefef;border:2px solid #cecece;line-height:1.5em;}.respond-form form input[type=text]:focus,.respond-form form input[type=email]:focus,.respond-form form input[type=url]:focus,.respond-form form textarea:focus{background:#fff;}
.respond-form form input[type=text]:invalid,.respond-form form input[type=email]:invalid,.respond-form form input[type=url]:invalid,.respond-form form textarea:invalid{outline:none;border-color:#fbc2c4;background-color:#f6e7eb;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;box-shadow:none;}
.respond-form form input[type=text],.respond-form form input[type=email],.respond-form form input[type=url]{max-width:400px;min-width:250px;}
.respond-form form textarea{resize:none;width:97.3%;height:150px;}
#comment-form-title{margin:0 0 1.1em;}
#allowed_tags{margin:1.5em 10px 0.7335em 0;}
.nocomments{margin:0 20px 1.1em;}
.widget ul li{}
#footer{margin-top:30px;min-height:110px;clear:both;background-image:url(../images/black-o05.png);}#footer>div{margin-top:32px;margin:0 auto;width:650px;margin-top:35px;}
#footer .text{font-size:10px;line-height:1em;margin-top:24px;padding-left:8px;}
#footer .logo>img{display:block;}
#footer .logo,#footer .text{float:left;}
