@font-face {
	font-family: 'HelveticaRoundedLTStd-BdCn';
	src: url('../fonts/helveticaroundedltstd-bdcn.eot');
	src: url('../fonts/helveticaroundedltstd-bdcn.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaroundedltstd-bdcn.woff') format('woff'), url('../fonts/helveticaroundedltstd-bdcn.ttf') format('truetype'), url('../fonts/helveticaroundedltstd-bdcn.svg#helveticaroundedltstd-bdcn') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
		font-family: 'Abel';
		src: url('../fonts/abel-regular.eot');
		src: url('../fonts/abel-regular.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/abel-regular.woff') format('woff'),
				 url('../fonts/abel-regular.ttf') format('truetype'),
				 url('../fonts/abel-regular.svg#abel-regular') format('svg');
		font-weight: normal;
		font-style: normal;
}

