
@fontPath:            '../fonts';

@font-face {
	font-family: 'HelveticaRoundedLTStd-BdCn';
	src: url('@{fontPath}/helveticaroundedltstd-bdcn.eot');
	src: url('@{fontPath}/helveticaroundedltstd-bdcn.eot?#iefix') format('embedded-opentype'),
		 url('@{fontPath}/helveticaroundedltstd-bdcn.woff') format('woff'),
		 url('@{fontPath}/helveticaroundedltstd-bdcn.ttf') format('truetype'), 
		 url('@{fontPath}/helveticaroundedltstd-bdcn.svg#helveticaroundedltstd-bdcn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
		font-family: 'Abel';
		src: url('@{fontPath}/abel-regular.eot');
		src: url('@{fontPath}/abel-regular.eot?#iefix') format('embedded-opentype'),
				 url('@{fontPath}/abel-regular.woff') format('woff'),
				 url('@{fontPath}/abel-regular.ttf') format('truetype'),
				 url('@{fontPath}/abel-regular.svg#abel-regular') format('svg');
		font-weight: normal;
		font-style: normal;
}

